/*********
* Budgie *
*********/
$alert_color: $red;

$panel_bg: transparentize($bg_color, 0.05);
$panel_border: transparentize(darken($panel_bg, 7%), 0.08);
$panel_shadow: transparentize(black, 0.7);

$raven_bg: lighten($panel_bg, 5%);
$raven_border: $panel_border;

$raven_expander_bg: transparentize(darken($raven_bg, 3%), 0.15);
$raven_expander_fg: $fg_color;
$raven_expander_border: transparentize(darken($raven_expander_bg, 5%), 0.05);

$raven_background_bg: transparentize(darken($raven_bg, 3%), 0.3);
$raven_background_border: $raven_expander_border;

$mpris_overlay_bg: darken($raven_bg, 12%);
$mpris_overlay_fg: $fg_color;
$mpris_overlay_border: opacify(darken($mpris_overlay_bg, 4%), 0.05);

$roundness: 3px;
$border_width: 1px;
$pos_list: ((top, bottom),(bottom,top),(left,right),(right,left));

@function gtkalpha($c,$a) {
    @return unquote("alpha(#{$c},#{$a})");
}

%app_indicators {

  &:hover {
    background-color: transparentize(black, 0.9);
  }

  &:active,
  &:checked {
    box-shadow: none;
  }

  @each $pos, $alt_pos in $pos_list {
    .#{$pos} & {

      @at-root {
        .#{$pos} .budgie-panel .unpinned .launcher,
        .#{$pos} .budgie-panel .pinned .launcher.running {
          border-#{$pos}: 2px solid transparentize($fg_color, 0.8);
        }
      }

      &:hover {
        border-#{$pos}: 3px solid transparentize($selected_bg_color, 0.5);
      }

      &:active,
      &:checked {
        border-#{$pos}: 3px solid $selected_bg_color;
      }
    }
  }
}

// Used to reset all style properties set by the gtk theme

// Container for both the "panel" area and the shadow. Wise to keep
// this transparent..
.budgie-container { background-color: transparent; }

// Budgie Menu
.budgie-menu {
    entry.search {
        border: none;
        box-shadow: none;
        background: none;
        font-size: 120%;

        image { padding-left: 0px; padding-right: 6px; }
    }
    row.activatable:selected,
    row.activatable:selected button { color: inherit; }
}

// Panel
.budgie-panel {
    color: $fg_color;
    background-color: $panel_bg;

    .alert { color: $alert_color; }

    &:backdrop {
      color: $fg_color;
      background-color: $panel_bg;
    }

    .end-region {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;

      separator { background-color: transparentize($fg_color, 0.85) }
    }
    label {
      font: bold;
      color: $fg_color;
      icon-shadow: 0 1px $icon_shadow_color;
      text-shadow: 0 1px $text_shadow_color;
    }
}

// Tasklist
.budgie-panel #tasklist-button,
.budgie-panel #tasklist-button:backdrop {

    border-radius: 0;
    outline-color: transparent;

    &:not(:hover):not(:active):not(:checked) { color: gtkalpha(currentColor, 0.5); }
    background: none;
    background-clip: padding-box;
    border: none;

    &:drop(active) { box-shadow: inset 0 0 0 1px $selected_bg_color; }

}

// Icon Tasklist
.budgie-panel {

    button.flat.launcher {
        outline-color: transparent;
        transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
        padding: 1px 2px;
        border-radius: 0;

        &:hover { -gtk-icon-effect: highlight; }
    }
    .pinned,
    .unpinned {
      .launcher,
      .launcher.running {
        @extend %app_indicators;
        padding: 2px 6px;
      }
    }
}

@each $pos, $b_pos in $pos_list {

    // Panel borders
    .#{$pos} .budgie-panel { border-#{$b_pos}: $border_width solid $panel_border; }

    // Raven borders
    .#{$pos} .raven-frame {
        padding: 0;
        margin: 0;
        background: none;

        border {
            border: none;
            border-#{$b_pos}: $border_width solid $raven_border;
        }
    }

    // Shadows
    .#{$pos} .shadow-block {
        background-color: transparent;
        background-image: linear-gradient(to $b_pos,
                                          $panel_shadow,
                                          transparent);
    }
}

// Raven
.raven {

    color: $fg_color;
    background-color: $raven_bg;
    transition: 170ms ease-out;

    //Temp Fix Shadow & Stylize switches
    & switch {
      margin-left: 66px;
    }

    .raven-header {
        * {
          padding-top: 0;
          padding-bottom: 0;
        }

        min-height: 32px;
        max-width: 32px;

        color: $fg_color;
        border: solid $raven_expander_border;
        border-width: 1px 0;
        background-color: $raven_expander_bg;

        &.top { border-top-style: none; }
        &.bottom { border-bottom-style: none; }

        button {
          background-color: transparent;
          border-radius: 0;
          border: none;
          box-shadow: none;
          margin-top: -4px;
          margin-bottom: -4px;
          min-height: 32px;

          &:hover {
            border-radius: 0;
            background-color: transparent;
            @include lines(up);
          }

          &:active,
          &:checked {
            border-radius: 0;

            background-color: transparent;
            @include lines(up);
          }

          &:disabled {
            color: $insensitive_fg_color;
          }
        }
    }

    .raven-background {
        color: $fg_color;
        background-color: $raven_background_bg;
        border-bottom: 1px solid $raven_background_border;

        .linked {
          & button.text-button {
            background-color: transparent;
            border-radius: 0;
            border: none;
            box-shadow: none;
            margin-top: -4px;
            margin-bottom: -4px;
            min-height: 32px;

            &:hover {
              border-radius: 0;
              background-color: transparent;
              @include lines(up);
            }

            &:active,
            &:checked {
              border-radius: 0;

              background-color: transparent;
              @include lines(up);
            }
          }
        }

        &.middle { border-bottom-style: none; }  // applet background between two headers
    }
    .powerstrip button.image-button {
        padding: 10px;

        &:hover {
          @include lines(both,$darkpurple);
        }
        &:first-child {
          &:hover {
            @include lines(both,$blue);
          }
        }
        &:last-child {
          &:hover {
            @include lines(both,$red);
          }
        }
    }
    .option-subtitle {
        font-size: smaller;
    }
}

// MPRIS Applet
.raven-mpris {
    color: $mpris_overlay_fg;
    background-color: $mpris_overlay_bg;
    border: solid $mpris_overlay_border;
    border-width: 1px 0;

    button.image-button { padding: 8px; }
}

// Notifications
.budgie-notification-window {
    background: none;
    border-radius: 1px;
}

.budgie-notification {
    &.background {
        border-radius: 1px;
    }
    .notification-title {
        font-size: 110%;
        color: $fg_color;
    }
    .notification-body { color: transparentize($fg_color, 0.3); }
}

.drop-shadow {

    color: $fg_color;
    background-color: $panel_bg;
    box-shadow: 0 2px 4px 0 $panel_shadow, 0 0 0 1px $panel_border;
    border-radius: 1px;
}

// Session Dialog
.budgie-session-dialog {
    color: $fg_color;
    background-color: $panel_bg;
    border-radius: 3px;

    decoration {
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 $panel_shadow, 0 0 0 1px $panel_border;
    }

    button {
      &:backdrop {
        background-color: transparent;
      }
    }

    .linked.horizontal > button {
        min-height: 20px;
        border-bottom: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;

        label {
          font: bold;
        }

        &:first-child { border-left: none; border-bottom-left-radius: 3px; }
        &:last-child { border-right: none; border-bottom-right-radius: 3px; }

        &:hover {
          background-color: transparentize($selected_bg_color, 0.1);
        }
        &.destructive-action {
          background-color: transparentize($destructive_color, 0.1);
          &:hover { background-color: transparentize(lighten($destructive_color,5%), 0.1); }
        }
        &.suggested-action {
          background-color: transparentize($cyan, 0.1);
          &:hover { background-color: transparentize(lighten($cyan,5%), 0.1); }
        }
    }
}

// PolKit Dialog
.budgie-polkit-dialog {
    @extend .budgie-session-dialog;

    .message { color: transparentize($fg_color, 0.3); }
    .failure { color: $alert_color; }
}
