/***************
 * font-viewer *
 ***************/
SushiFontWidget {
    padding: 6px 12px;
}

/**********
 * Sudoku *
 **********/
SudokuView SudokuCellView {
    border: inherit;
    background-color: inherit;
}

SudokuView SudokuCellView:backdrop {
    border: inherit;
    background-color: inherit;
}

SudokuView {
    border: none;
}

/*****************
 * Character Map *
 *****************/
GucharmapChartable {
    background-color: $base_color;
}

GucharmapChartable:active,
GucharmapChartable:focus,
GucharmapChartable:selected {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
}


/********
 * Misc *
 *******/

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    -EogScrollView-shadow-type: none;
}

/************
 * Nautilus *
 ************/
.nautilus-window {
  .sidebar,.sidebar .view {
    background-color: transparent;
    background-image: none;

    image {
      margin: 3px 8px;
    }

    &:backdrop {
      background-color: transparent;
      background-image: none;
    }

    .list-row {
      button {
        border: none;
        background-color: transparentize(darken($base_color,3%),0.05);
        &:active {
          background-color: transparentize($selected_bg_color,0.25);
        }
      }

      &:selected {
        background-color: transparentize($selected_bg_color,0.25);
        &:hover {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }

      &:hover {
        background-color: transparentize($base_color,0.5);
        &:active {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }
    }
  }

  &.background {
    background-color: transparentize(darken($base_color,3%),0.05);
    &:backdrop {
      background-color: transparentize(darken($base_color,3%),0.05);
    }
  }

  .pane-separator.horizontal {
    background-image: none;
    border-right: 1px solid $base_color;
  }
}

NautilusCanvasView {
    border: none;

    &:active,
    &:focus,
    &:backdrop {
      border: none;
    }
}

.nautilus-circular-button {
  border-radius: 20px;
  outline-radius: 20px;
}

.disk-space-display {
  border: 2px solid;

  .unknown {
    background-color: #888a85;
    border-color: darken(#888a85, 20%);
  }

  .used {
    background-color: #9FB0B9;
    border-color: darken(#9FB0B9, 20%);
  }

  .free {
    background-color: #D8D8D8;
    border-color: darken(#D8D8D8, 20%);
  }
}


.nautilus-desktop {

  color: $fg_color;

  .nautilus-canvas-item {
    border-radius: 5px;
    color: $selected_fg_color;
    text-shadow: 1px 1px transparentize(black, 0.4);

    &:active {
      color: $fg_color;
      text-shadow: none;
    }

    &:prelight {
      color: $fg_color;
      text-shadow: none;
    }

    &:selected {
      color: $selected_fg_color;
      text-shadow: none;
    }

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }

  .nautilus-list {

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }
}

/**************
 * Calculator *
 **************/

MathWindow {

  MathButtons {
    combobox,
    button {
      background-color: transparent;
      background-image: none;
      box-shadow:none;
      border: none;
      text-shadow: none;
      font: bold;

      &:hover {
        background-image: none;
        background-color:$base_color;
      }

      &.text-button.suggested-action {
        background-image: none;
        box-shadow:none;
        text-shadow: none;
        background-color: $cyan;
        color: $base_color;

        &:backdrop {
          background-color: darken($cyan,10%);
          color: transparentize($base_color, 0.5);
        }
      }
    }
  }

  MathDisplay {
    padding: 4px;
    background-color:$base_color;
    border: 1px solid $borders_color;
  }
}

/************
 * Epiphany *
 ************/

EphyWindow {
  .titlebar,
  headerbar {

    .incognito-mode {

      button {
        background-image:none;
      }
    }
  }
}

/*********
 * Gedit *
 *********/

.gedit-search-slider {
     padding: 4px;
     border-radius: 0 0 3px 3px;
     border: 0;
     background-color: $headerbar_bg_color;

     & button {
       background-color: transparent;
       color: $headerbar_fg_color;
       border: none;
       box-shadow: none;

       &:hover {
         color: $selected_bg_color;
       }
       &:active {
         color:darken($selected_bg_color,5%);
       }
     }

     entry {
       border: none;
       background-color: $headerbar_bg_color;
       color: $headerbar_fg_color;
       box-shadow: inset 1px 1px 5px 0px darken($headerbar_bg_color,10%);
       @each $e_type, $e_color in (error, $error_color),
                                  (warning, $warning_color) {
         &.#{$e_type} {
           color: $e_color;

           &:focus { @include entry(focus, $e_color); }

           &:selected { &:focus, & { background-color: $e_color; }}
         }
       }

       image {
         color: transparentize($headerbar_fg_color, 0.5);
       }
       & entry {
         background-color: transparent;
         box-shadow: none;
       }

       &:first-child {
         border-radius: 3px;
       }
     }
 }

/*******************
 * System Settings *
 ******************/

CcShellNavBar {
  padding:0px;
}
