/************
 * Nautilus *
 ************/
NautilusWindow {
  .sidebar,.sidebar .view {
    background-color: transparent;
    background-image: none;

    &:backdrop {
      background-color: transparent;
      background-image: none;
    }

    .list-row {
      .button{
        border: none;
        background-color: transparentize($base_color,0.1);
        &:active {
          background-color: transparentize($selected_bg_color,0.25);
        }
      }

      &:selected {
        background-color: transparentize($selected_bg_color,0.25);
        &:hover {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }

      &:hover {
        background-color: transparentize($base_color,0.5);
        &:active {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }
    }
  }

  &.background {
    background-color: transparentize(darken($base_color,2%),0.05);
    &:backdrop {
      background-color: transparentize(darken($base_color,3%),0.05);
    }
  }
  .pane-separator.horizontal {
    background-image: none;
    border-right: 1px solid transparentize($borders_color, 0.3);
  }
}

.nautilus-desktop {

  color: $fg_color;

  .nautilus-canvas-item {
    border-radius: 5px;
    color: $selected_fg_color;
    text-shadow: 1px 1px transparentize(black, 0.4);

    &:active {
      color: $fg_color;
      text-shadow: none;
    }

    &:prelight {
      color: $fg_color;
      text-shadow: none;
    }

    &:selected {
      color: $selected_fg_color;
      text-shadow: none;
    }

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }

  .nautilus-list {

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }
}

/*********
 * Gedit *
 *********/
.gedit-search-slider {
     padding: 4px;
     border-radius: 0 0 3px 3px;
     border: 0;
     background-color: $bg_color;
 }
