/**************
 * ComboBoxes *
 **************/
combobox {
  arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
    min-height: 16px;
    min-width: 16px;
  }

  &.linked {
    button:nth-child(2) {
      &:dir(ltr) { @extend %linked:last-child; }
      &:dir(rtl) { @extend %linked:first-child; }
    }
  }

  &:drop(active) { // FIXME: untested
    box-shadow: none;

    button.combo { @extend %button_basic:drop(active); }
  }
}

.linked > combobox > box > button.combo {
  // the combo is a composite widget so the way we do button linking doesn't
  // work, special case needed. See
  // https://bugzilla.gnome.org/show_bug.cgi?id=733979

  &:dir(ltr),
  &:dir(rtl) { @extend %linked_middle; } // specificity bump
}

.linked:not(.vertical) > combobox:first-child > box > button.combo { @extend %linked:first-child; }
.linked:not(.vertical) > combobox:last-child > box > button.combo { @extend %linked:last-child; }
.linked:not(.vertical) > combobox:only-child > box > button.combo { @extend %linked:only-child; }

.linked.vertical > combobox > box > button.combo { @extend %linked_vertical_middle; }
.linked.vertical > combobox:first-child > box > button.combo { @extend %linked_vertical:first-child; }
.linked.vertical > combobox:last-child > box > button.combo { @extend %linked_vertical:last-child; }
.linked.vertical > combobox:only-child > box > button.combo { @extend %linked_vertical:only-child; }


button.combo {
  border: none;
  @include button(normal);

  &:hover {
    border: none;
    @include button(hover,$selected_bg_color,$selected_fg_color);
  }

  &:active,
  &:checked {
    border: none;
    @include button(active,darken($selected_bg_color,5%),$selected_fg_color);

    transition-duration: 50ms;
  }

  &:backdrop {
    border: none;
    @include button(backdrop);

    transition: $backdrop_transition;
    -gtk-icon-effect: none;

    &:active,
    &:checked {
      border: none;
      @include button(backdrop-active);
    }

    &:disabled {
      border: none;
      @include button(backdrop-insensitive);

      &:active,
      &:checked {
        border: none;
        @include button(backdrop-insensitive-active);
      }
    }
  }
  &:disabled {
    @include button(insensitive);

    &:active,
    &:checked { @include button(insensitive-active); }
  }
}

notebook, list, .view, popover {
  button.combo {
    box-shadow: inset 0px 0px 0px 1px $borders_color;
    &:backdrop {
      box-shadow: inset 0px 0px 0px 1px $borders_color;
    }
  }
}
