/***************
* Action bars *
***************/

.action-bar {
  background-color: darken($bg_color, 10%);
  border: solid $borders_color;
  border-width: 1px 0 0 0;
  color: $fg_color;
  box-shadow: none;

  &:backdrop {
    background-color: darken($backdrop_bg_color, 10%);
    box-shadow: none;
    -gtk-image-effect: dim;
  }

  &:first-child {
    border-radius: 3px 3px 0px 0px;
    border-width: 1px 1px 0px 1px;
  }

  &:last-child {
    border-radius: 0 0 3px 3px;
    border-width: 0px 1px 1px 1px;
  }

  & .button,
  & .linked .button {
    background-color: transparent;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: transparent;
      color: $selected_bg_color;
      box-shadow: none;
      border: none;
    }
    &:active,
    &:checked {
      background-color: transparent;
      color: darken($selected_bg_color,5%);
      box-shadow: none;
      border: none;
    }

    &:backdrop {
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      border: none;

      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
      &:active,
      &:checked {
        background-color: transparent;
        color: darken($selected_bg_color,5%);
        box-shadow: none;
        GtkImage {
          color: darken($selected_bg_color,5%);
        }
      }
    }
  }
}
