/*********************
 * App Notifications *
 *********************/

.app-notification,
.app-notification.frame {
  @extend %osd;
  padding: 10px;
  border: none;
  border-radius: 0 0 6px 6px;
  background-color: $osd_bg_color;
  background-image: linear-gradient(to bottom, transparentize(black, 0.8),
                                               transparent 2px);
  background-clip: padding-box;
  &:backdrop { background-image: none; }
  .button {
    @include button(osd);
    &.flat {
      @extend %undecorated_button;
      icon-shadow: 0 1px black;
      text-shadow: 0 1px black;
      &:backdrop,
      &:insensitive,
      &:backdrop:insensitive { @extend %undecorated_button; }
    }
    &:hover { @include button(osd-hover); }
    &:active,
    &:checked,
    &:backdrop:active,
    &:backdrop:checked {
      @include button(osd-active);
    }
    &:insensitive,
    &:backdrop:insensitive {
      @include button(osd-insensitive);
    }
    &:backdrop { @include button(osd-backdrop); }
  }
}
