/***************
 * Base States *
 ***************/

.background {
  color: $fg_color;
  background-color: if($variant == 'light', darken($bg_color, 1.5%), $bg_color);

  &:backdrop {
    text-shadow: none;
    icon-shadow: none;
    color: $backdrop_fg_color;
    background-color: $backdrop_bg_color;
  }
}

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/

*:insensitive {
  -gtk-image-effect: dim;
}

.gtkstyle-fallback {
  background-color: $bg_color;
  color: $fg_color;
  &:prelight {
    background-color: lighten($bg_color, 10%);
    color: $fg_color;
  }
  &:active {
    background-color: darken($bg_color, 10%);
    color: $fg_color;
  }
  &:insensitive {
    background-color: $insensitive_bg_color;
    color: $insensitive_fg_color;
  }
  &:selected {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
  }
}

.view {
  color: $text_color;
  background-color: $base_color;

  &:backdrop {
    color: $backdrop_text_color;
    background-color: $backdrop_base_color;
  }

  &:selected {
    border-radius: 3px;
    @extend %selected_items;
  }
}

.rubberband {
  border: 1px solid darken($selected_bg_color, 10%);
  background-color: transparentize(darken($selected_bg_color, 10%), 0.8);
}

.label {
  &.separator {
    color: $fg_color;
    @extend .dim-label;
    &:backdrop { color: $backdrop_fg_color; }
  }
  &:selected,
  &:selected:focus,
  &:selected:hover {
    @extend %selected_items;
  }
  &:insensitive {
    color: $insensitive_fg_color;
    &:backdrop { color: $backdrop_insensitive_color; }
  }
}

.dim-label {
  opacity: 0.55;
  text-shadow: none;
}

GtkAssistant {
  .sidebar {
    background-color: $base_color;
    border-top: 1px solid $borders_color;
    &:dir(ltr) { border-right: 1px solid $borders_color; }
    &:dir(rtl) { border-left: 1px solid $borders_color; }
    &:backdrop {
      background-color: $backdrop_base_color;
      border-color: $backdrop_borders_color;
    }
  }
  &.csd .sidebar { border-top-style: none; }
  .sidebar .label {
    padding: 6px 12px;
  }
  .sidebar .label.highlight {
    background-color: mix($bg_color, $fg_color, 80%);
  }
}

GtkTextView { // This will get overridden by .view, needed by gedit line numbers
  background-color: mix($bg_color, $base_color, 50%);
  &:backdrop { background-color: mix($backdrop_bg_color,
                                     $backdrop_base_color, 50%); }
}

.grid-child {
  padding: 3px;
  border-radius: 3px;
  &:selected {
    @extend %selected_items;
    outline-offset: -2px;
  }
}

%osd, .osd {
  color: $osd_fg_color;
  border: none;
  background-color: $osd_bg_color;
  background-clip: padding-box;
  outline-color: transparentize($osd_fg_color, 0.7);
  box-shadow: none;
  text-shadow: 0 1px black;
  icon-shadow: 0 1px black;
  &:backdrop { text-shadow: none; }
}
