/**************
 * ComboBoxes *
 **************/

GtkComboBox {
  .arrow {
    -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
  }
}

/******************
 * Combobox Entry *
 ******************/

.combobox-entry {

  // Button
  .button {

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right-width: 0;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  // Entry
  .entry {
    box-shadow: none;

    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right-width: 1px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }

  }
}
