/***********
 * Dialogs *
 ***********/

.message-dialog .dialog-action-area .button {
  padding: 8px;
}

.message-dialog { // Message Dialog styling
  background-color: transparentize(if($variant=='light', $headerbar_color, $bg_color), 0.05);

  .titlebar {
    background-color: transparentize(if($variant=='light', $headerbar_color, $bg_color), 0.05);
    border-style: none;
    box-shadow: inset 0 1px $borders_edge;
  }
  &.csd { // rounded bottom border styling for csd version
    &.background {
      // bigger radius for better antialiasing
      background-color: transparentize(if($variant=='light', $headerbar_color, $bg_color), 0.05);
      color: if($variant=='light', $headerbar_fg_color, $fg_color);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    .dialog-action-area .button {
      padding: 12px;
      border-radius: 0;
      border-radius: 0;
      border-left-style: solid;
      border-right-style: none;
      border-bottom-style: none;
      background-color: transparent;
      color: if($variant=='light', $headerbar_fg_color, $fg_color);
      box-shadow: none;
      &:hover {
        background-color: transparentize($selected_bg_color, 0.1);
      }
      @each $b_type, $b_color in (suggested-action, $selected_bg_color),
                                 (destructive-action, $destructive_color) {
        &.#{$b_type} {
          @include button(normal, $b_color, white, $edge:none);
          @extend %middle_button;
          &:hover {
            @include button(hover, $b_color, white, $edge:none);
            @extend %middle_button;
          }
          &:active {
            @include button(active, $b_color, white, $edge:none);
            @extend %middle_button;
          }
          &:backdrop {
            @include button(backdrop, $b_color, white, $edge:none);
            @extend %middle_button;
            &:insensitive {
              @include button(backdrop-insensitive, $edge:none);
              @extend %middle_button;
            }
          }
          &:insensitive {
            @include button(insensitive, $edge:none);
            @extend %middle_button;
          }
        }
      }
      &:first-child{ @extend %first_button; }
      &:last-child { @extend %last_button; }
    }
    %middle_button {
      border-left-style: solid;
      border-right-style: none;
      border-bottom-style: none;
    }
    %last_button {
      border-bottom-right-radius: 5px;
      outline-bottom-right-radius: 5px;
    }
    %first_button {
      border-left-style: none;
      border-bottom-left-radius: 5px;
      outline-bottom-left-radius: 5px;
    }
  }
}

GtkFileChooserDialog {
  .search-bar {
    background-color: $base_color;
    border-color: $bg_color;
    box-shadow: none;
    &:backdrop {
      background-color: $backdrop_base_color;
      border-color: $backdrop_bg_color;
    }
  }
  .dialog-action-box {
    border-top: 1px solid $borders_color;
    &:backdrop { border-top-color: $backdrop_borders_color; }
  }
}
