/*************
 * Level Bar *
 *************/

.level-bar {
  box-shadow: _widget_edge(); // needs to be set here to avoid clipping
  background-color: $selected_bg_color;

  -GtkLevelBar-min-block-width: 32;
  -GtkLevelBar-min-block-height: 6;
  &.vertical {
    -GtkLevelBar-min-block-width: 6;
    -GtkLevelBar-min-block-height: 32;
  }
  &.trough {
    padding: 3px;
    border-radius: 3px;
    background-color: if($variant == 'light' ,transparentize(white,0.2),transparentize(black,0.86));

    &:backdrop {
      background-color: if($variant == 'light' ,transparentize(white,0.4),transparentize(black,0.94));
    }
  }
  &.fill-block {
    // FIXME: it would be nice to set make fill blocks bigger, but we'd need
    // :nth-child working on discrete indicators
    border-radius: 2px;
    &:backdrop {
      box-shadow: none;
    }
    &.indicator-discrete {
      &.horizontal { margin: 0 1px; }
      &.vertical { margin: 1px 0; }
    }
    &.level-high {
      background-color: $success_color;
      &:backdrop { border-color: $success_color; };
    }
    &.level-low {
      background-color: $warning_color;
      &:backdrop { border-color: $warning_color; };
    }
    &.empty-fill-block {
      background-color: transparentize(black,0.86);
      box-shadow: none;
    }
  }
}
