/*********
 * Menus *
 *********/
.menubar {
  -GtkWidget-window-dragging: true;
  background-color: $headerbar_color;
  color: $headerbar_fg_color;
  padding: 0px;
  box-shadow: inset 0 -1px transparentize(black, 0.9);
  &:backdrop { background-color: $headerbar_color; }
  & > .menuitem {
    padding: 4px 8px;
    &:hover { //Seems like it :hover even with keyboard focus
      box-shadow: inset 0 -3px $selected_bg_color;
      color: $headerbar_fg_color;
    }
    &:insensitive {
      color: $insensitive_fg_color;
      box-shadow: none;
    }
  }
}

.menu {
  margin: 4px;
  padding: 0px;
  background-color: $menu_color;
  border: 1px solid $borders_color; // adds borders in a non composited env
  .csd & { border: none; }  // axes borders in a composited env
  &:backdrop { background-color: $backdrop_menu_color; }
  .menuitem {
    text-shadow: none;
    padding: 4px;
    &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }
    &:insensitive {
      color: $insensitive_fg_color;
      &:backdrop { color: $backdrop_insensitive_color; }
    }
    &:backdrop, &:backdrop:hover {
      color: $backdrop_fg_color;
      background-color: transparent;
    }
    //submenu indicators
    &.arrow { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }
    &.arrow:dir(rtl) {-gtk-icon-source:-gtk-icontheme('pan-end-symbolic-rtl'); }
  }
  &.button { // overlow buttons
    @extend %undecorated_button;
    border-style: none;
    border-radius: 0;
    &.top { border-bottom: 1px solid mix($fg_color, $base_color, 10%); }
    &.bottom { border-top: 1px solid mix($fg_color, $base_color, 10%); }
    &:hover { background-color: mix($fg_color, $base_color, 10%); }
    &:insensitive {
      color: transparent;
      background-color: transparent;
      border-color: transparent ;
    }
  }
}

.menuitem .accelerator { color: gtkalpha(currentColor,0.55); }
