/***************
 * Popovers   *
 ***************/

.popover {
  padding: 2px;
  border-radius: 5px;
  background-color: $popover_bg_color;

  box-shadow: 0 1px 2px transparentize(black, 0.7);

  &:backdrop {
    background-color: $backdrop_bg_color;
    box-shadow: none;
  }

  > .list,
  > .view,
  > .toolbar,
  &.osd > .toolbar {
    border-style: none;
    background-color: transparent;
  }

  .button.flat,
  .button.flat:hover {
    text-shadow: none;
    transition: none;
  }

  &.osd { @extend %osd; }
}
