/*****************
 * Progress bars *
 *****************/

GtkProgressBar {
  padding: 0;
  font-size: smaller;
  color: transparentize($fg_color, 0.6);
  box-shadow: inset 1px 1px transparentize(black, 0.9), // needs to be set
              _widget_edge();                           // here ot it gets
                                                        // clipped
  &:backdrop {
    color: $backdrop_insensitive_color;
  }
  &.osd {
    -GtkProgressBar-xspacing: 0;
    -GtkProgressBar-yspacing: 0;
    -GtkProgressBar-min-horizontal-bar-height: 3;
  }
  &.trough {  // background
    border-radius: 3px;
    background-color: transparentize(black,0.86);
    box-shadow: none;
    &:backdrop{
      background-color: transparentize(black,0.94);
    }
    &.osd {
      border-style: none;
      background-color: transparent;
      box-shadow: none;
    }
  }
}

// moving bit
.progressbar {
  background-color: $selected_bg_color;
  border-radius: 1.5px;
  box-shadow: none; //needed for clipping
  &.left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &.right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &.left.right {
    box-shadow: none;
  }
  &.vertical {
    &.bottom {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: none;
    }
    &.top {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  &:backdrop {
    border-color: if($variant=='light', $selected_bg_color,
                                        $selected_borders_color);
    background-image: none;
    background-color: $selected_bg_color;
    box-shadow: none;
  }
  &.osd {
    background-image: none;
    background-color: $selected_bg_color;
    border-style: none;
    border-radius: 0;
  }
}
