/**************
 * Scrollbars *
 **************/

.scrollbar {
  -GtkRange-slider-width: 13;
  -GtkRange-trough-border: 0;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkScrollbar-min-slider-length: 42; // minimum size for the slider.
                                       // sadly can't be in '.slider'
                                       // where it belongs
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-under-steppers: 1;

  $_slider_margin: 3px;
  $_slider_fine_tune_margin: 4px;

  .button {
    border: none;
  }

  &.overlay-indicator {
    &:not(.dragging):not(.hovering) { // Overlay scrolling indicator
      opacity: 0.4;

      -GtkRange-slider-width: 5px;

      .slider {
        margin: 0;
        background-color: $fg_color;
        border: 1px solid if($variant==light, white, black);
        background-clip: padding-box;
      }

      .trough {
        border-style: none;
        background-color: transparent;
      }

      // w/o the following margin tweaks the slider shrinks when hovering/dragging
      &.vertical .slider {
        margin-top: $_slider_margin - 1px;
        margin-bottom: $_slider_margin - 1px;
      }

      &.horizontal .slider {
        margin-left: $_slider_margin - 1px;
        margin-right: $_slider_margin - 1px;
      }

    }

    &.dragging,
    &.hovering { opacity: 0.7; }
  }

  // trough coloring
  .trough {
    background-color: $scrollbar_bg_color;
    border: 1px none $borders_color;

    &:backdrop {
      background-color: $backdrop_scrollbar_bg_color;
      border-color: $backdrop_borders_color;
    }
  }

  // slider coloring
  .slider {
    background-color: mix($fg_color, $bg_color, 60%);

    &:hover { background-color: mix($fg_color, $bg_color, 80%); }

    &:prelight:active { background-color: if($variant=='light', darken($selected_bg_color, 10%), lighten($selected_bg_color, 10%));}

    &:backdrop { background-color: mix($backdrop_fg_color, $backdrop_bg_color, 40%); }

    &:insensitive {
      background-color: transparent;
    }
  }


  // sizing
  .slider {
    border-radius: 100px;
    margin: $_slider_margin;
  }

  &.fine-tune .slider { margin: $_slider_fine_tune_margin; }

  &.vertical {

    .slider {
      margin-left: 1px + $_slider_margin;

      &:dir(rtl) {
        margin-left: $_slider_margin;
        margin-right: 1px + $_slider_margin;
      }
    }

    &.fine-tune .slider {
      margin-left: 1px + $_slider_fine_tune_margin;

      &:dir(rtl) {
        margin-left: $_slider_fine_tune_margin;
        margin-right: 1px + $_slider_fine_tune_margin;
      }
    }

    .trough {
      border-left-style: solid;

      &:dir(rtl) {
        border-left-style: none;
        border-right-style: solid;
      }
    }
  }

  &.horizontal {

    .slider { margin-top: 1px + $_slider_margin; }

    &.fine-tune .slider { margin-top: 1px + $_slider_fine_tune_margin; }

    .trough { border-top-style: solid; }
  }
}

.scrollbars-junction,
.scrollbars-junction.frame { // the small square between two scrollbars
  border-color: transparent;
  // the border image is used to add the missing dot between the borders, details, details, details...
  border-image: linear-gradient(to bottom, $borders_color 1px, transparent 1px) 0 0 0 1 / 0 1px stretch;
  background-color: $scrollbar_bg_color;

  &:dir(rtl) { border-image-slice: 0 1 0 0; }

  &:backdrop {
    border-image-source: linear-gradient(to bottom, $backdrop_borders_color 1px, transparent 1px);
    background-color: $backdrop_scrollbar_bg_color;
  }
}
