/*****************
 * GtkSpinButton *
 *****************/

.spinbutton {
  .button {
    background-image: none;
    border-style: none none none solid;
    color: mix($fg_color, $base_color, 90%);
    border-radius: 0;
    box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,0.07);
  //  padding-left: 6px;
  //  padding-right: 6px;
    &:dir(rtl) { border-style: none solid none none; }
    &:hover {
      color: $fg_color;
      background-color: transparentize($fg_color, 0.95);
    }
    &:insensitive {
      color: transparentize($insensitive_fg_color, 0.7);
    }
    &:active {
      box-shadow: inset 0 2px 3px -1px transparentize(black, 0.8);
      background-color: transparentize(black, 0.9);
    }
    &:backdrop {
      color: mix($backdrop_fg_color, $backdrop_base_color, 90%);
      background-color: transparent;
      box-shadow: inset 1px 0px 0px 0px rgba(0,0,0,0.07);
    }
    &:backdrop:insensitive {
      background-image: none;
      color: transparentize($backdrop_insensitive_color,0.7);
      border-style: none none none solid; // It is needed or it gets overridden
      &:dir(rtl) { border-style: none solid none none; }
    }
  }
  .osd & {
    .button {
      @include button(undecorated);
      color: $osd_fg_color;
      border-style: none none none solid;
      border-color: transparentize($osd_borders_color, 0.3);
      border-radius: 0;
      box-shadow: none;
      icon-shadow: 0 1px black;
      &:dir(rtl) { border-style: none solid none none; }
      &:hover {
        @include button(undecorated);
        color: $osd_fg_color;
        border-color: transparentize(opacify($osd_borders_color, 1), 0.5);
        background-color: transparentize($osd_fg_color, 0.9);
        icon-shadow: 0 1px black;
        box-shadow: none;
      }
      &:backdrop {
        @include button(undecorated);
        color: $osd_fg_color;
        border-color: transparentize(opacify($osd_borders_color, 1), 0.5);
        icon-shadow: none;
        box-shadow: none;
      }
      &:insensitive {
        @include button(undecorated);
        color: $osd_insensitive_fg_color;
        border-color: transparentize(opacify($osd_borders_color, 1), 0.5);
        icon-shadow: none;
        box-shadow: none;
      }
      &:last-child { border-radius: 0 3px 3px 0; }
      &:dir(rtl):first-child { border-radius: 3px 0 0 3px; }
    }
  }
  &.vertical, &.vertical:dir(rtl) { //FIXME: try using linking templates for vertically linked stuff
    .button {
      padding-top: 8px;    //  Same vertical padding as image-buttons
      padding-bottom: 8px; //
      border: 1px solid $borders_color;
      &:first-child {
        @extend %top_button;
        @include button(normal, $edge:none);
        box-shadow: inset 0px 1px 0px 0px $top_hilight;
        &:active {
          @extend %top_button;
          @include button(active, $edge:none);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
        &:hover {
          @extend %top_button;
          @include button(hover, $edge:none);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
        &:insensitive {
          @extend %top_button;
          @include button(insensitive, $edge:none);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
        &:backdrop {
          @extend %top_button;
          @include button(backdrop, $edge:none);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
      }
      &:last-child {
        @extend %bottom_button;
        @include button(normal);
        box-shadow: inset 0px 1px 0px 0px $top_hilight;
        &:active {
          @extend %bottom_button;
          @include button(active);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
        &:hover {
          @extend %bottom_button;
          @include button(hover);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
        &:insensitive {
          @extend %bottom_button;
          @include button(insensitive);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
        &:backdrop {
          @extend %bottom_button;
          @include button(backdrop);
          box-shadow: inset 0px 1px 0px 0px $top_hilight;
        }
      }
      &:backdrop:insensitive {
        @include button(backdrop-insensitive);
        box-shadow: inset 0px 1px 0px 0px $top_hilight;
      }
    }
    &.entry {
      // we should remove the bottom edge hilight here, but seems
      // like buttons are on top of it so it doesn't show up
      border-radius: 0;
      padding-left: 3px;
      padding-right: 3px;
    }
    %top_button {
      border-radius: 3px 3px 0 0;
      border-style: solid solid none solid;
    }
    %bottom_button {
      border-radius: 0 0 3px 3px;
      border-style: none solid solid solid;
    }
  }
  GtkTreeView & {
    &.entry, &.entry:focus {
      padding: 1px;
      border-width: 1px 0;
      border-color: $selected_bg_color;
      border-radius: 0;
      box-shadow: none;
    }
  }
}
