/**********************
 * Window Decorations *
 *********************/

.window-frame {
  border-radius: 4px 4px 0 0;
  // lamefun trick to get rounded borders regardless of CSD use
  border-width: 0px;

  box-shadow: 0 3px 9px 1px transparentize(black, 0.5);

  // FIXME rationalize window-frame shadows

  /* this is used for the resize cursor area */
  margin: 10px;

  &:backdrop {
    box-shadow: 0 2px 6px 2px transparentize(black, 0.8);
  }
  &.tiled,
  &.maximized {
    border-radius: 0;
  }
  &.popup {
    box-shadow: none;
  }
  // server-side decorations as used by mutter
  &.ssd { box-shadow: 0 0 0 1px $bottom_highlight; }
  &.csd {
    &.popup {
      border-radius: 0;
      box-shadow: 0 1px 2px transparentize(black, 0.8);
    }
    &.tooltip {
      border-radius: 3px;
      box-shadow: none;
    }
    &.message-dialog {
      border-radius: 4px;
      box-shadow: 0 1px 2px transparentize(black, 0.8);
    }
  }
  &.solid-csd {
    border-radius: 0;
    margin: 4px;
    background-color: $backdrop_bg_color;
    border: solid 1px $backdrop_borders_color;
    box-shadow: none;
  }
}

// Window Close button
.header-bar .button.titlebutton,
.titlebar .button.titlebutton {
  background-image: none;
  background-color: transparent;
  color: transparent;
  padding: 14px 5px;
  border: none;
  box-shadow: none;
  icon-shadow: none;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: center;

  &:backdrop {
    color: transparent;
    icon-shadow: none;
    text-shadow: none;
    padding: 14px 5px;
    box-shadow: none;
  }

  &.close {
    background-image: -gtk-scaled(url("../assets/close.png"),url("../assets/close@2.png"));
    &:hover,&:active {
      background-image: -gtk-scaled(url("../assets/close_prelight.png"),url("../assets/close_prelight@2.png"));
    }
  }
  &.maximize {
    background-image: -gtk-scaled(url("../assets/max.png"),url("../assets/max@2.png"));
    &:hover,&:active {
      background-image: -gtk-scaled(url("../assets/max_prelight.png"),url("../assets/max_prelight@2.png"));
    }
  }
  &.minimize {
    background-image: -gtk-scaled(url("../assets/min.png"),url("../assets/min@2.png"));
    &:hover,&:active {
      background-image: -gtk-scaled(url("../assets/min_prelight.png"),url("../assets/min_prelight@2.png"));
    }
  }
}

.header-bar.selection-mode .button.titlebutton,
.titlebar.selection-mode .button.titlebutton {
  @include _button_text_shadow(white, $selected_bg_color);
  &:backdrop { icon-shadow: none; }
}


// catch all extend :)

%selected_items {
  background-color: $selected_bg_color;
  color: $selected_fg_color;
  @if $variant == 'light' {
    outline-color: transparentize($selected_fg_color, 0.7);
  }
  &:insensitive { color: mix($selected_fg_color, $selected_bg_color, 50%); }
  &:backdrop {
    color: $backdrop_selected_fg_color;
    &:insensitive {
      color: mix($backdrop_selected_fg_color, $selected_bg_color, 30%);
    }
  }
}

.monospace {
  font: Monospace;
}
