/***********
 * sidebar *
 ***********/
.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow {
    background-color: @base_color;
    background-image: linear-gradient(to bottom,@base_color,@base_color);
    color: @text_color;
}

.sidebar row:selected,
.sidebar row:selected:hover,
.sidebar row:selected:focus,
.sidebar .view row:selected,
.sidebar .view row:selected:hover,
.sidebar .view row:selected:focus {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

.sidebar row:prelight,
.sidebar .view row:prelight {
    border-color: shade(@theme_bg_color, 0.8);
    background-color: @theme_bg_color;
    background-image: none;
    color: @text_color;
}

.sidebar row:selected:prelight,
.sidebar .view:selected:prelight {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: shade(@selected_bg_color,0.9);
    color: @selected_fg_color;
}

.sidebar .frame {
    border-width: 0;
}
