.budgie-container {
  background-color: transparent;
}

.budgie-panel {
    border-top: 1px solid #31363D;
    background-color: #22252a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.budgie-notification {
  border-radius: 4px;
  border: none;
  color: @selected_fg_color;
  background-color: alpha(#22252a, 0.85);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.budgie-notification .notification-title {
  padding: 4px;
  font-size: 110%;
  font: bold;
}

.budgie-notification .notification-body {
  padding: 4px;
  color: alpha(white, 0.7);
}

.raven {
  background-color: alpha(#22252a, 0.65);
  transition: 170ms ease-out;
}

.raven-header {
  background-color: alpha(#13b1d5, 0.04);
}

.raven-background,
.raven-background GtkListBox {
  background: transparent;
}

.raven .powerstrip {
  background-color: #31363D;
}

.raven .powerstrip .button {
  padding: 10px;
  color: alpha(white, 0.7);
}
