/*********
 * entry *
 *********/
.entry,
.primary-toolbar .entry {
    transition: 200ms linear;
    padding: 6px 8px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: @theme_base_color;
    background-image: none;
    border-color: shade(@theme_bg_color, 0.87);
    color: @theme_text_color;
}

.entry:active,
.entry:focus {
    transition: 200ms linear;
    background-color: @theme_base_color;
    border-style: solid;
    border-color: @theme_selected_bg_color;
    color: @theme_text_color;
}

.entry:selected,
.entry:selected:focus {
    background-color: shade(@theme_bg_color, 0.9);
}

.entry:insensitive {
    background-color: alpha(@theme_base_color, 0.5);
    background-image: none;
    color: mix(@theme_text_color, @theme_base_color, 0.5);
}

.entry.progressbar {
    border-width: 0;
    border-radius: 5px;
    background-color: @theme_selected_bg_color;
    background-image: none;
    color: @theme_base_color;
    border-color: @theme_selected_bg_color;
}
