/**************
 * List boxes *
 **************/
.list,
.list-row {
    font-weight: normal;
    background-color: @base_color;
}

.list-row.button {
    background-color: @base_color; 
    color: @fg_color;
    font-weight: normal;
    border: none;
    border-radius: 0px;
}

.list-row.button:hover {
    transition: none;
    background-color: alpha(@bg_color, 0.55);
    color: @fg_color;
}
    
.list-row.button:active, 
.list-row.button:active:hover {
    background-color: shade(@bg_color, 0.97);
    color: @theme_fg_color;
}

.list-row.button:selected:hover {
    background-color: shade(@selected_bg_color, 1.05);
    color: @selected_fg_color;
}

.list-row.button:checked,
.list-row.button:selected, 
.list-row:selected,    
.list-row.button:selected:active:hover {
    background-color: shade(@selected_bg_color, 0.9); 
    color: @selected_fg_color;
}
