/**************
 * List boxes *
 **************/
/*Blatantly stolen code from Vertex theme*/

.list,
.list-row {
    font-weight: normal;
    background-color: @theme_base_color;
}

.list-row.button {
    font-weight: normal;
    background-color: @theme_base_color; 
    color: @theme_fg_color;
    border-radius: 0px;
}
 /*Special for Evolve Software Center*/
.list .text-button.button {
    background-color: @theme_bg_color; 
    color: @theme_fg_color;
}

.list .text-button.button:hover {
    color: @theme_selected_fg_color;
}

.list .text-button.button:hover,
.list .text-button.button:active:hover,
.list .text-button.button:active {
    background-color: @selected_bg_color;
}

.list-row.button:hover {
    transition: none;
    color: @theme_fg_color;
    background-color: alpha(@theme_bg_color, 0.55);
}
    
.list-row.button:active, 
.list-row.button:active:hover {
    color: @theme_fg_color;
    background-color: shade(@theme_bg_color, 0.97);
}
    
.list-row.button:checked {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
    
.list-row.button:selected, 
.list-row.button:selected:hover, 
.list-row.button:focus, 
.list-row.button:focus:hover {
    outline-color: alpha(@theme_selected_bg_color, 0.3);
}
    
.list-row.button:selected, 
.list-row:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
    outline-color: alpha(@theme_selected_bg_color, 0.3); 
}

.list-row.button:selected:hover {
    background-color: shade(@theme_selected_bg_color, 1.05);
    color: @theme_selected_fg_color;
}
    
.list-row.button:selected:active:hover {
    color: @theme_selected_fg_color;
    background-color: shade(@theme_selected_bg_color, 0.97); 
}
