/***********
 * toolbar *
 ***********/
.toolbar {
    padding: 5px;
    border-style: none;
    background-color: @toolbar_bg_color;
    background-image: none;
}

/* primary-toolbar */
.primary-toolbar,
.primary-toolbar .toolbar,
.primary-toolbar.toolbar {
    -GtkWidget-window-dragging: true;

    padding: 5px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: shade(@toolbar_bg_color, 0.8);
    background-color: transparent;
    background-image: none;
    color: @toolbar_fg_color;
}

.primary-toolbar GtkSeparatorToolItem,
.primary-toolbar .separator,
.primary-toolbar .separator:insensitive {
    border-color: shade(@toolbar_bg_color, 0.9);
}

.primary-toolbar .button,
.primary-toolbar .button:active:hover {
    background-color: transparent;
}

.primary-toolbar .linked .button {
    background-color: @theme_base_color;
}

.primary-toolbar.toolbar .button:hover,
.primary-toolbar.toolbar .button:active {
    color: @theme_selected_bg_color;
}

.primary-toolbar .linked .button:hover,
.primary-toolbar .linked .button:active {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}


/* inline-toolbar */
.inline-toolbar.toolbar {
    -GtkToolbar-button-relief: normal;

    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: @theme_bg_color;
    border-radius: 0;
    background-color: alpha(@theme_base_color,0.8);
    background-image: none;
}

.inline-toolbar.toolbar:last-child {
    border-width: 1px;
    border-color: @theme_bg_color;
    border-radius: 0;
}

.inline-toolbar.toolbar .separator {
    border-color: transparent;
}

.inline-toolbar.toolbar .button {
    background-color: transparent;
    padding: 2px;
}

.inline-toolbar.toolbar .button:hover,
.inline-toolbar.toolbar .button:active {
    color: @theme_selected_bg_color;
}
