/************
 * Tooltips *
 ************/
tooltip,
.tooltip,
.overlay-bar {

  margin: 4px;
  border: none;
  border-radius: 3px;
  background-color: transparentize($base_color, 0.1);
  color: $fg_color;
  box-shadow: 0 1px 1px 0 transparentize(black, 0.8),
              inset 0 1px rgba(255, 255, 255, 0.1);

  &.background {
    background-color: transparentize($base_color, 0.1);
    border: none;
  }

  decoration { background-color: transparent; }

  * { // Yeah this is ugly
    background-color: transparent;
    color: $fg_color;
  }
}
